.header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 }

 .current-date{
  margin-top: 0px;
  margin-bottom: 0px;
 }

.logo {
  height: 100px;
  animation: jackInTheBox;
  animation-duration: 1s;
  cursor: pointer;
}

.date-picker {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #393E46;
  color: white;
}

.day-picker-today {
  font-weight: bold;
  color:#00ADB5;
}

.day-picker-selected:not([disabled]) { 
  font-weight: bold; 
  border: 2px solid currentColor;
}
.day-picker-selected:hover:not([disabled]) { 
  border-color: #00ADB5;
  color: #00ADB5;
}

.rdp-button:hover:not([disabled]):not(.day-picker-selected){
  color: #393E46;
} 

.checked-item-text {
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: bold;
}

.button {
  margin-top: 50px;
  height: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
  background-color: #00ADB5;
  border-color: #393E46;
  cursor: pointer;
  transition-duration: 0.4s;
  padding: 0;
  box-sizing: content-box;
  font-weight: bold;
}

.button:hover {
  background-color: #018a91;
}

.clear-button {
  width: 100px;
}